{% extends 'base.html.twig' %}

{% block title %}Gestion de produits{% endblock %}

{% block body %}


<div class="container mt-4">
    <div class="jumbotron">
		<h1 class="display-3">Bienvenue sur l'application de gestion de produit !</h1>
		<p class="lead">Gestion de produits</p>
		<hr class="my-4">
		<p>Vous pouvez cliquer sur les boutons ci-dessous pour voir la liste des catégories et produits</p>
		<p class="lead">
			<a class="btn btn-primary btn-lg mr-3" href="{{ path('app_categorie_index') }}" role="button">Voir les catégories</a>
            <a class="btn btn-primary btn-lg" href="{{ path('app_produit_index') }}" role="button">Voir les produits</a>
		</p>
	</div>
</div>
{% endblock %}
