{% for produit in produits %}
    <tr>
        <td>{{ produit.id }}</td>
        <td>{% if produit.categorie %}{{ produit.categorie.nom }} {% endif %}</td>
        <td>{{ produit.nom }}</td>
        <td>{{ produit.quantite }}</td>
        <td>{{ produit.prix }}</td>
        <td>
            <a class="btn btn-primary" href="{{ path('app_produit_show', {'id': produit.id}) }}" tabindex="-1" role="button" aria-disabled="false">afficher</a>
            <a class="btn btn-secondary" href="{{ path('app_produit_edit', {'id': produit.id}) }}" tabindex="-1" role="button" aria-disabled="false">modifier</a>
        </td>
    </tr>
{% else %}
    <tr>
        <td colspan="5">pas de produit</td>
    </tr>
{% endfor %}