{% extends 'base.html.twig' %}

{% block title %}Modification de produit{% endblock %}

{% block body %}
    <h1>Modification de produit</h1>

    {{ include('produit/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('app_produit_index') }}">retour à la liste</a>

    {{ include('produit/_delete_form.html.twig') }}
{% endblock %}
