{% extends 'base.html.twig' %}

{% block title %}Liste des produits{% endblock %}

{% block body %}
    <h1>Liste des produits</h1>
    <form>
        <div class="form-group row">
            <label for="catSelect" class="form-label col-sm-2 col-form-label">Filtre par catégorie</label>
            <div class="col-sm-4">
                <select class="form-select col-sm-6 mb-4" id="catSelect">
                        <option value="0">Sélectionner une catégorie</option>
                    {% for c in categories %}
                        <option value="{{ c.id }}">{{ c.nom }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-sm-4">
                <button id="btnFiltreCategorie" type="button" class="btn btn-warning col-md-4">Filtrer</button>
            </div>
        </div>
    </form>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Catégorie</th>
                <th>Nom</th>
                <th>Quantite</th>
                <th>Prix</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody id="tableListeProduits">
            {{ include('produit/_tab_produits.html.twig') }}
        </tbody>
    </table>

    <a class="btn btn-success" href="{{ path('app_produit_new') }}">Ajouter un nouveau produit</a>
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    {{ encore_entry_script_tags('js/produit') }}
{% endblock %}