{% extends 'base.html.twig' %}

{% block title %}Produit{% endblock %}

{% block body %}
    <h1>Produit</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ produit.id }}</td>
            </tr>
            <tr>
                <th>Catégorie</th>
                <td>{{ produit.categorie.nom }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ produit.nom }}</td>
            </tr>
            <tr>
                <th>Quantite</th>
                <td>{{ produit.quantite }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ produit.prix }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_produit_index') }}">retour à la liste</a>

    <a class="btn btn-warning" href="{{ path('app_produit_edit', {'id': produit.id}) }}">modifier</a>

    {{ include('produit/_delete_form.html.twig') }}
{% endblock %}
