{% extends 'base.html.twig' %}

{% block title %}Modification de catégorie{% endblock %}

{% block body %}
    <h1>Modification de catégorie</h1>

    {{ include('categorie/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('app_categorie_index') }}">retour à la liste</a>

    {{ include('categorie/_delete_form.html.twig') }}
{% endblock %}
