{% extends 'base.html.twig' %}

{% block title %}Liste des catégories{% endblock %}

{% block body %}
    <h1>Liste des catégories</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for categorie in categories %}
            <tr>
                <td>{{ categorie.id }}</td>
                <td>{{ categorie.nom }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('app_categorie_show', {'id': categorie.id}) }}"  tabindex="-1" role="button" aria-disabled="false">afficher</a>
                    <a class="btn btn-primary" href="{{ path('app_categorie_edit', {'id': categorie.id}) }}"  tabindex="-1" role="button" aria-disabled="false">modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">pas de catégorie</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-success" href="{{ path('app_categorie_new') }}">Ajout de nouvelle catégorie</a>
{% endblock %}
